.nav{
    width: 100%;
    background-color:whitesmoke;
    padding:20px 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0,0,0,0.3);
    position: fixed;
    bottom: 0;
}

.nav__list{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link{
    position: relative;
    /* color: #2e363e; */
}
.nav__notification{
    display:flex;
    justify-content: center;
    align-items: center;
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color: tomato;
    color: white;
    font-weight: 600;
    position: absolute;
    bottom:22px;
    left:22px;   
}
.nav__btn{
    position: relative;
}
.nav__btn__new-mark{
    position:absolute;
    bottom:30px;
    left:35px;
    width: 5px;
    height: 5px;
    background-color: tomato;
    border-radius: 50%;
}