.screen-header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: var(--horizontal-space);
    top: 100px;
    margin-bottom: 15px;
    /* padding-top: 40px; */
}
.screen-header__title{
    font-size: 32px;
    font-weight: 600;
}
.screen-header__icons span{
    margin-left: 25px;
}

@keyframes rotateCog {
    0%{
        transform: none;
    }
    50%{
        transform: rotateZ(360deg);
    }
    100%{
        transform: none;
    }
}

.fa-cog:hover{
    animation: rotateCog 3s ease-in-out infinite;
}